@tailwind base;
    @tailwind components;
    @tailwind utilities;

    body {
      background-color: #f0f0f0;
    }

    .shadow-neumorphic {
      box-shadow: 12px 12px 24px #bebebe, -12px -12px 24px #ffffff;
    }

    .shadow-neumorphic-inner {
      box-shadow: inset 6px 6px 12px #bebebe, inset -6px -6px 12px #ffffff;
    }
